<!--  welcome page css   -->
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
<!--  end welcome page css   -->


<!--  styles    -->

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.margin-top-20{
    margin-top: 20px;
}
body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/08/30/12087/3574f899daef41d2f145eba13ff7840f.jpg');
    background-size:100% 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
}
.auth h1{
    color:#fff!important;
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
}
.auth h1 span{
    font-size:21px;
    display:block;
    padding-top: 20px;
}
.auth .auth-box legend{
    color:#fff;
    border:none;
    font-weight:300;
    font-size:24px;
}
.auth .auth-box{
    background-color:#fff;
    max-width:460px;
    margin:0 auto;
    border:1px solid rgba(255, 255, 255, 0.4);;
    background-color: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    margin-top:40px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.32);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
}
@media(max-width:460px){
    .auth .auth-box{
        margin:0 10px;
    }
}

.auth .auth-box input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
    font-weight:300;
}
.auth .auth-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    font-weight:300;
}
.auth .auth-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    font-weight:300;
}
.auth .auth-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
    font-weight:300;
}
.auth span.input-group-addon,
.input-group-btn button{
    border:none;
    background: #fff!important;
    color:#000!important;
}
.auth form{
    font-weight:300!important;
}
.auth form input[type="text"],
.auth form input[type="password"],
.auth form input[type="email"],
.auth form input[type="search"]{
    border:none;
    padding:10px 0 10px 0;
    background-color: rgba(255, 255, 255, 0)!important;
    background: rgba(255, 255, 255, 0);
    color:#fff;
    font-size:16px;
    border-bottom:1px dotted #fff;
    border-radius:0;
    box-shadow:none!important;
    height:auto;
}
.auth textarea{
    background-color: rgba(255, 255, 255, 0)!important;
    color:#fff!important;
}
.auth input[type="file"] {
    color:#fff;
}
.auth form label{
    color:#fff;
    font-size:21px;
    font-weight:300;
}
/*for radios & checkbox labels*/
.auth .radio label,
.auth label.radio-inline,
.auth .checkbox label,
.auth label.checkbox-inline{
    font-size: 14px;
}

.auth form .help-block{
    color:#fff;
}
.auth form select{
    background-color: rgba(255, 255, 255, 0)!important;
    background: rgba(255, 255, 255, 0);
    color:#fff!important;
    border-bottom:1px solid #fff!important;
    border-radius:0;
    box-shadow:none;
}
.auth form select option{
    color:#000;
}
/*multiple select*/
.auth select[multiple] option,
.auth select[size] {
    color:#fff!important;
}

/*Form buttons*/
.auth form .btn{
    background:none;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.auth form .btn-default{
    color:#fff;
    border-color:#fff;
}
.auth form .btn-default:hover{
    background:rgba(225, 225, 225, 0.3);
    color:#fff;
    border-color:#fff;
}
.auth form .btn-primary:hover{
    background:rgba(66, 139, 202, 0.3);
}
.auth form .btn-success:hover{
    background:rgba(92, 184, 92, 0.3);
}
.auth form .btn-info :hover{
    background:rgba(91, 192, 222, 0.3);
}
.auth form .btn-warning:hover{
    background:rgba(240, 173, 78, 0.3);
}
.auth form .btn-danger:hover{
    background:rgba(217, 83, 79, 0.3);
}
.auth form .btn-link{
    border:none;
    color:#fff;
    padding-left:0;
}
.auth form .btn-link:hover{
    background:none;
}


.auth label.label-floatlabel {
    font-weight: 300;
    font-size: 11px;
    color:#fff;
    left:0!important;
    top: 1px!important;
}

<!--  styles    -->





.link-list{
    float: right;

}
.links li{
    font-size: 33px;
}
.links li a{
    font-size: 33px;
    color: black;
    text-decoration: none;
}
.nav_{
    font-size: x-large;
}

.table_process{

    text-align: center;
}
.table_process .th{
    text-align: center;
}


.success{
    background: aquamarine;
    border: 1px solid #05a559;
    text-align: center;
    padding: 3px;
    margin-left: 392px;
    margin-bottom: 20px;
}

.erorrs{

    text-align: center;
    background: rgba(243, 0, 0, 0.4);
    border: 2px solid #ef1010;
    padding-top: 5px;
    margin-left: 301px;
    margin-bottom: 15px;
}
.erorrs li{
    list-style: none;
}
.all_process{
    font-size: 18px;
    margin-right: 49px;
    margin-top: -7px;
}
.links{
    font-size: 18px;
}
.title_table{
    border: 1px solid #3097d1;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    margin-left: 217px;
}
.sorts{
    height: auto;
    overflow: auto;
    border: 1px solid #0000001c;
    border-radius: 10px;
    margin-bottom: 13px;
}

footer{
    background-color: #ffffff82;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    color: black;
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

.typs{
    position: relative;
    right: -35px;
    top: -8px;
    }




<!--  alert message   -->


body { margin-top:30px; }
hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

<!-- end alert message   -->
